p{
    color:white;
}

h1{
    color: white;
}
.nonTrans{
    background-image: url("/backGround.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
    min-width: 50%;
}