ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 0!important;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  li {
    float: left;
    height: 100%;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 27px 16px!important;
    text-decoration: none;
    height: 100%;
    font-size: x-large;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: white;
    color: black!important;
  }